# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env/
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
coverage.xml
.coverage
htmlcov/

# Logs
*.log

# IDE/editor metadata
.vscode/
.idea/

# Misc
*.db

/server/.env
/server/models
*.env
/.cache
/server/data